@use "var" as *;

.card {
  display: grid;
  border-radius: 5px;
  overflow: hidden;

  &__image {
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 0 13px 16px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 52.6%, rgba(0, 0, 0, 0.72) 100%);

    &-title {
      margin: 0;
      color: $white;
      font-size: 20px;
      font-weight: 500;
    }

    &-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $primaryOrange;
    }
  }
}

.card-col {
  border: 1px solid $lightGray;
  border-radius: 5px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  

  &__info {
    margin: 20px 20px 0 20px;
  }

  &__img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &__subject {
    font-family: $robotoCondensed;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: $brown;
    margin: 0;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: $dark;
    width: 240px;
    margin-top: 3px;
    margin-bottom: 28px;
  }

  &__excerpt {
    text-decoration: underline;
    margin-top: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: $primaryOrange;
    margin-bottom: 20px;
    margin-left: 20px;

    .arrow {
      margin-left: 5px;
    }
  }
}