$dark: #000;
$white: #fff;
$brown: #4E2D2D;
$lightBlack: #292929;
$lightGray: #e7e7e7;
$gray: #808080;
$primaryOrange: #FD9339;
$lightOrange: #FBE8BB;
$robotoCondensed: 'Roboto Condensed', sans-serif;
