@use "mixins" as *;
@use "var" as *;

.promo {
  background-image: url(../images/bdpromo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &-inner {
    display: flex;
    flex-wrap: wrap;

    @include desktop {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @include mobile {
      align-items: flex-start;
    }
  }
}

.promo-info {
  margin-bottom: 92px;
  margin-top: 129px;
  margin-left: 70px;
  max-width: 590px;
  flex-basis: calc(53%);

  @include desktop {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    flex-basis: calc(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-title {
    color: #FFF;
    font-size: 36px;
    font-weight: 100;
    margin-bottom: 18px;

    @include desktop {
      text-align: center;
    }
    
    @include mobile {
      text-align: left;
      font-size: 28px;
    }
  }

  &-title span {
    display: block;
    color: #EF7F1A;
    font-size: 24px;
    font-weight: 700;
  }
}

.promo-info-card {
  display: flex;
  flex-wrap: wrap;

  @include mobile {
    justify-content: center;
  }
}

.card {
  width: 165px;
  height: 137px;
  margin-right: 13px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: top left;
  position: relative;
  background-image: url(../images/promo1.png);
}

.card22 {
  background-image: url(../images/promo2.png);
}

.card33 {
  background-image: url(../images/promo3.png);
}

.promo-info-text {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  position: absolute;
  bottom: -25px;
}

.form {
  max-width: 406px;
  background-color: #FFF;
  border-radius: 10px;
  margin-top: 69px;
  position: relative;

  @include desktop {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  @include mobile {
    max-width: 100%;
  }

  &-title {
    text-align: center;
    color: $colorBrand;
    font-size: 18px;
    font-weight: 700;
    padding-top: 43px;
  }
}

.form-row {
  margin: 15px 0;
}

.field {
  width: 322px;
  padding: 12px 5px 12px 16px;
  border: none;
  background-color: #E2E2E2;
  border-radius: 3px;
  margin-left: 40px;
  color: #424268;
  font-size: 14px;
  font-weight: 400;

  @include mobile {
    width: 250px;
    margin-left: 10px;
  }
}

.new-row {
  display: flex;
  align-items: center;
}

.checkbox {
  display: none;
}

.checkbox + label {
  display: inline-block;
  width: 38px;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-left: 40px;

  @include mobile {
    margin-left: 10px;
  }
}

.checkbox:checked + label {
  background: url(../images/checkmark.png) center / 21px no-repeat;
}

.checkbox-span {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  padding-left: 10px;
}

.link-span {
  color: #4B67AF;
  text-decoration: none;
}

.btn-promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.btn-promo::after {
  content: "";
  position: absolute;
  bottom: -56px;
  left: -2px;
  width: 112%;
  height: 100%;
  z-index: 1;
  background-image: url(../images/ruler.png);
  background-position: bottom center;
  background-repeat: no-repeat;

  @include mobile {
    width: 100%;
  }
}

.promo .btn-ruler {
  background-image: none;
  padding: 19px 40px;
  margin-bottom: 77px;
}